:root{
    --bg-dark: #1e1e1e;
    --text: #a0a0a0;
    --text-white: white;
    --highlighted-text: #FFBF00;
    --bg-grey: #2a2a2a;
    --border: #3a3a3a;
    --highlighted-border: #FFBF00;
}
html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
    margin: 0; padding: 0;
}
body{
    background-color: var(--bg-dark);
    color: var(--text);
    font-family: sans-serif;
    line-height: 1.6;
}
.parent{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

/* SideBar Stylings*/
.sidebar{
    background-color: var(--bg-grey);
    border: solid 2px var(--border);
    border-radius: 16px;
    width: 350px;
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.profile img{
    width: 120px;
    height: auto;
    border-radius: 20%;
    border: solid;
}
.contact-info{
    padding: 1rem;
    border-top: solid 2px var(--border);
    border-bottom: solid 2px var(--border);
}
.contact-info p{
    padding: 1px;
    color: var(--text-white);
}
.social{
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 15px;
}
.social img{
    width: 30px;
    height: auto;
    transition: filter 0.3s ease;
    filter: invert(0.7);

}
.social img:hover{
    filter: invert(0);
}
.education h3{
    color: var(--text-white);

}
.education-items{
    display: flex;
    flex-direction: column;
}
.indiv-education{
    padding-bottom: 30px;
    padding-left: 15px;

    position: relative;

}
.education h5{
    color: var(--text-white);
    font-size: 0.9rem;
}
.year{
    font-size: 0.9rem;
    font-style: oblique;
}
.circle{
    width: 10px;
    height: 10px;
    background-color: var(--bg-dark);
    border: solid  var(--highlighted-border);
    border-radius: 100%;
    position: absolute;
    top: 5px;
    left: 0px;
    
}
.vertical-line{    
    width: 3px;
    background-color: var(--border);
    position: absolute;
    top:15px;
    left: 3px;
    bottom: 0px;
}
.college{
    font-size: 0.9rem;
    font-style: italic;
    font-weight: 700;
}
.work{
    font-size: 0.8rem ;
    font-style: normal;
    text-align:justify ;
}

/* Main Content Stylings */
.mainbar{
    background-color: #2a2a2a;
    border: solid 2px;
    border-color: #3a3a3a;
    border-radius: 16px;
    width: 800px;
}
.mainbar p{
    text-align: justify;
}
.header{
    border-bottom : solid;
    border-color: var(--border);
    margin: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row nowrap;
    justify-content: end;
}
nav{
    display: flex;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    transition: hover 0.3 ease;
}
nav a:hover{
    color: var(--highlighted-text);
}
.active{
    color: var(--highlighted-text);
}
.mainbar h2{
    color: var(--text-white);
}
#about-me, #skills, #projects{
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    padding-top: 1rem;  
}
.line{
    height: 5px;
    width: 60px;
    background-color: var(--highlighted-border);
    margin: 2px;
    margin-bottom: 15px;
}
.skill-images{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 40px;
}
.single-image{
    display: flex ;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-dark);
    border: solid var(--border);
    border-radius: 15%;
    width: 120px;
    height: 130px;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    transition: transform 0.3 ease, box-shadow 0.3sec ease;

}
.single-image:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.single-image h3{
    padding: 2px;
}
.single-image img{
    filter: brightness(0) saturate(100%) invert(70%) sepia(58%) saturate(885%) hue-rotate(357deg) brightness(101%) contrast(106%);
}
.project-box{
    display: flex;
    flex-flow: row wrap;
    gap: 25px;   
}
.indiv-projects{
    border: solid var(--bg-grey);
    border-radius: 12px;
    overflow: hidden;
    background-color: var(--bg-dark);
    width: 350px;

}
.indiv-projects img{
    height: 180px;
    width: 100%;
    object-fit: cover;
}
.project-content{
    padding: 10px;
}
.project-content span{
    padding: 2px;
    color: var(--highlighted-text);
    background-color: var(--bg-grey);
    border: solid var(--bg-grey);
    border-radius: 10px;
    margin: 2px;
}