:root{
    --bg-dark: #1e1e1e;
    --text: #a0a0a0;
    --text-white: white;
    --highlighted-text: #FFBF00;
    --bg-grey: #2a2a2a;
    --border: #3a3a3a;
    --highlighted-border: #FFBF00;
}
html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
    margin: 0; padding: 0;
}

body{
    background-color: var(--bg-dark);
    color: var(--text);
    font-family: sans-serif;
    line-height: 1.6;
}
.parent{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

/* SideBar Stylings*/
.sidebar{
    background-color: var(--bg-grey);
    border: solid 2px var(--border);
    border-radius: 16px;
    height: 95vh;   
    width: 250px;
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.profile img{
    width: 120px;
    height: auto;
    border-radius: 20%;
    border: solid;
}

.contact-info{
    padding: 1rem;
    border-top: solid 2px var(--border);
    border-bottom: solid 2px var(--border);
}
.contact-info p{
    padding: 1px;
    color: var(--text-white);
}
.social{
    margin-top: 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 5px;
}
.social img{
    width: 30px;
    height: auto;
    transition: filter 0.3s ease;

}
.social img:hover{
    filter: invert(0.7);
}



/* Main Content Stylings */
.mainbar{
    background-color: #2a2a2a;
    border: solid 2px;
    border-color: #3a3a3a;
    border-radius: 16px;
    width: 800px;
}
.mainbar p{
    text-align: justify;
}
.header{
    border-bottom : solid;
    border-color: var(--border);
    margin: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row nowrap;
    justify-content: end;
}
nav{
    display: flex;
    gap: 20px;
}
nav a{
    text-decoration: none;
    color: var(--text);
    font-size: 18px;
    transition: hover 0.3 ease;
}
nav a:hover{
    color: var(--highlighted-text);
}
.active{
    color: var(--highlighted-text);
}
.mainbar h2{
    color: var(--text-white);
}
#about-me, #skills, #projects{
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
    padding-top: 1rem;  
}

.line{
    height: 5px;
    width: 60px;
    background-color: var(--highlighted-border);
    margin: 2px;
    margin-bottom: 15px;
}
.skill-images{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 40px;
}
.single-image{
    display: flex ;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-dark);
    border: solid var(--border);
    border-radius: 15%;
    width: 120px;
    height: 130px;
    padding: 1rem 1.5rem 1.5rem 1.5rem;
    transition: transform 0.3 ease, box-shadow 0.3sec ease;

}
.single-image:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}
.single-image h3{
    padding: 2px;
}
.single-image img{
    filter: brightness(0) saturate(100%) invert(70%) sepia(58%) saturate(885%) hue-rotate(357deg) brightness(101%) contrast(106%);
}

