:root{
    --bg-dark: #1e1e1e;
    --text: #a0a0a0;
    --text-white: white;
    --highlighted-text: #FFBF00;
    --bg-grey: #2a2a2a;
    --border: #3a3a3a;
}
html{
    box-sizing: border-box;
}
*, *::before,*::after{
    box-sizing: inherit;
    margin: 0; padding: 0;
}

body{
    background-color: var(--bg-dark);
    color: var(--text);
    font-family: sans-serif;
    line-height: 1.6;
}
.parent{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 20px;
    gap: 10px;
}

/* SideBar Stylings*/
.sidebar{
    background-color: var(--bg-grey);
    border: solid 2px var(--border);
    border-radius: 16px;
    height: 95vh;   
    width: 250px;
    padding: 1.5rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}
.profile img{
    width: 120px;
    height: auto;
    border-radius: 20%;
    border: solid;
    
}
.profile p{
    color: var(--highlighted-text);
    font-size: small;
    background-color: var(--bg-dark);
    padding: 2.5px;
    border-radius: 10px;
    border: solid 2px var(--border);
}
.contact-info{
    padding: 1rem;
    border-top: solid 2px var(--border);
    border-bottom: solid 2px var(--border);
}
.contact-info p{
    padding: 1px;
    color: var(--text-white);
}
.social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
.social img{
    width: 40px;
    height: auto;

}



/* Main Content Stylings */
.main-content{
    background-color: #2a2a2a;
    border: solid 2px;
    border-color: #3a3a3a;
    border-radius: 16px;
    width: 800px;
}